{% extends 'shop/layout.html' %}

{% block content %}
    <h3>This is the shop home page</h3>
    <div class="jumbotron">
        <p>This is where the general information about the shop will go
        such as opening times and location</p>
        <ul>
            <li>Mon - Closed</li>
            <li>Tues - Closed</li>
            <li>Weds - Closed</li>
            <li>Thurs - Closed</li>
            <li>Fri - Closed</li>
            <li>Sat - Closed</li>
            <li>Sun - Closed</li>
        </ul>
    </div>
{% endblock %}